<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.persistence.BlogReplyMapper">

<insert id="insert" parameterType="com.spring.domain.ReplyDTO" useGeneratedKeys="true" keyProperty="blogPostNo">
    INSERT INTO Reply (nickName, email, content, regDate) VALUES (#{nickName}, #{email},#{content},#{regDate});
</insert>

</mapper>