<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.persistence.HashTagMapper">


<insert id = "insert" parameterType = "com.spring.domain.HashTagDTO" useGeneratedKeys="true" keyProperty="hashNo">
INSERT INTO hashTag VALUES (#{hashName});
</insert>

<select id = "findHashTagNoByHashNameLike" resultType = "map">
SELECT * FROM hashTag WHERE hashName like CONCAT('%', #{hashName},'%');
</select>


</mapper>
  
