<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.persistence.NavAddressMapper">


<insert id = "insert" parameterType = "com.spring.domain.NavAddressDTO" useGeneratedKeys="true" keyProperty="addressNo">
INSERT INTO hashTag VALUES (addressNo = #{addressNo},addName = #{addName},latitude = #{latitude},longitude = #{longitude});
</insert>

<select id="findByNameAndTude">
SELECT * FROM NavAddress
WHERE addName = #{addName} AND latitude = #{latitude} AND longitude = #{longitude};  
</select>


</mapper>
  