<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.persistence.RoutineMapper">

<!-- 이메일로 일정 목록 가져오기 -->
    <select id="getdtoByEmail" resultType="com.spring.domain.RoutineDTO">
        SELECT * FROM routine WHERE email = #{email}
    </select>

    <!-- 일정 저장 -->
    <insert id="insert">
        INSERT INTO routine (email, content, eventDate)
        VALUES (#{email}, #{content}, #{eventDate})
    </insert>

    <!-- 일정 수정 -->
    <update id="update">
        UPDATE routine
        SET content = #{content}, eventDate = #{eventDate}
        WHERE routineNo = #{routineNo}
    </update>

    <!-- 일정 삭제 -->
    <delete id="delete">
        DELETE FROM routine WHERE routineNo = #{routineNo}
    </delete>

</mapper>
