<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.persistence.TravelPostMapper">

 <!--  작성자 추가 해야함 -->
<insert id="insert">
	INSERT INTO travelpost (title, content, nickName, email) VALUES(#{title},#{content},#{nickName},#{email});
</insert>

<select id="read">
	SELECT * FROM travelpost WHERE travelBoardNo = #{travelBoardNo}
</select>

<update id="update">
	UPDATE travelpost SET title = #{title}, content = #{content} WHERE travelBoardNo = #{travelBoardNo}
</update>

 <!--  좋아요 구현 -->

<update id="upLikecount">
	UPDATE travelpost SET likeCnt = likeCnt + 1 WHERE travelBoardNo = #{travelBoardNo}
</update>	

<update id="unLikecount">
	UPDATE travelpost SET likeCnt = likeCnt - 1 WHERE travelBoardNo = #{travelBoardNo}
</update>

<select id="isLike" resultType="boolean">
	SELECT COUNT(1) > 0 FROM liketable WHERE userno = #{uno} AND travellikeno = #{travelBoardNo}
</select>

<insert id="addlike">
    INSERT INTO liketable (userno, travellikeno) VALUES (#{uno}, #{travelBoardNo})
</insert>

<delete id="removelike">
    DELETE FROM liketable WHERE userno = #{uno} AND travellikeno = #{travelBoardNo}
</delete>


 <!-- 싫어요 구현 -->

<update id="upunLikecount">
	UPDATE travelpost SET dislikeCnt = dislikeCnt + 1 WHERE travelBoardNo = #{travelBoardNo}
</update>	

<update id="ununLikecount">
	UPDATE travelpost SET dislikeCnt = dislikeCnt - 1 WHERE travelBoardNo = #{travelBoardNo}
</update>

<select id="isunLike" resultType="boolean">
	SELECT COUNT(1) > 0 FROM unliketable WHERE userno = #{uno} AND disllikeno = #{travelBoardNo}
</select>

<insert id="addunlike">
    INSERT INTO unliketable (userno, disllikeno) VALUES (#{uno}, #{travelBoardNo})
</insert>

<delete id="removeunlike">
    DELETE FROM unliketable WHERE userno = #{uno} AND disllikeno = #{travelBoardNo}
</delete>

</mapper>
  

